html
  head
    title Project
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='stylesheets/design.css')
    link(rel='stylesheet', href='stylesheets/normalize.css')


  body
    section  
      #container
        .inner-pic
          img.piccy(src="/Assets/Get-Active-2.png", alt="main-picture")
    
    section.two
      #container
        .square
          .inner
            h1 Exercise is a Form of Self-Respect.
    
    section.three
      #container
        .square
          .inner
            h1 No Pain. No Gain.
    
    section.four
      #contain
        .box  
          .text
            .inner
              h1 Excuses are Useless. Results are Priceless
              
        .picture
          img.piccy(src="/Assets/leg-press.jpg", alt="main-picture")

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='Javascript/app.js')
